body {
    font-family: "Noto Sans JP";
}


/* header */

/* header mobile */

/* main */
main #shopmenu {
    display: flex;
    justify-content: space-between;
}

main ul {
    list-style: none;
}

main #shopname {
    font-size: 50px;
    text-align: center;
}

main #shopname:hover {
    font-size: 70px;
    font-weight: 700;
    background-color: black;
}

main #shopname:hover .merry {
    color: silver;
}

main #shopname:hover .go {
    color: pink;
}

main #shopname:hover .round {
    color: orange;
}

main #shopname:hover .honten {
    color: gold;
}

#shopkana {
    font-size: 20px;
}

main .pagetitle {
    border: solid #666;
    text-align: center;

}

main .pagetitle:hover {
    color: gold;
    background-color: black;
    

}



/* 画像を横並びにする */
main ul {
    color: black;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
main ul li {
  width: 16%;  /* ６列 */
  /* width: 20%; */  /* ５列 */
  margin-bottom: 23px;
}

/* frameをつける */
main ul li .shopstaffframe {
    min-height: 198px;
}
main ul li img {
  cursor: pointer;
  /* width: 640px; */
  width: 100%;
  /* max-height: 417px; */
  min-height: 198px;
  /* height: 100%; */
  transition: all 0.3s;
  margin-right: 20px;
}
main ul li .stafftime {
    color: red;
}
main #hosttext table #hostdetail {
    /* color: black; */
    margin-left: auto;
}
/* main ul li img:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.7;
} */

/* main mobile */

/* footer */

/* footer mobile */