body {
    
    background-image: url(../bg_images/gigazine1.jpg),
    url(../bg_images/merigo_1.jpg);
    background-repeat: no-repeat;
    /* background-position: 100% 100%,0 0; */
    background-position: top,right;
    /* background-repeat: repeat-y; */
}
/* body {
    background-image: url(../bg_images/merigo_1.jpg);
    background-position: center bottom;
} */